<!-- Validation failure messages -->
<% if @team.errors.any? %>
  <% @team.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Team</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_team" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :created_at, @team.location_id), :class => "form-control") %>
      </div>

      <!-- Label and input for division_league -->
      <div class="form-group">
        <label for="division_league" class="control-label">
          Division league
        </label>

        <textarea id="division_league" name="division_league" placeholder="Division league" class="form-control" rows="3"><%= @team.division_league %></textarea>
      </div>

      <!-- Label and input for schedule -->
      <div class="form-group">
        <label for="schedule" class="control-label">
          Schedule
        </label>

        <input type="text" id="schedule" name="schedule" placeholder="Schedule" class="form-control" value="<%= @team.schedule %>">
      </div>

      <button class="btn btn-success">
        Create Team
      </button>
      or
      <a href="/teams">Cancel</a>
    </form>
  </div>
</div>
