<div class="page-header">
  <h3>Location #<%= @location.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/locations" class="btn btn-primary">
        Back
      </a>
      <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Location has many schedules -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Schedules
      </li>

      <% @location.schedules.each do |schedule| %>
        <li class="list-group-item">
          <a href="/schedules/<%= schedule.id %>">
            <%= schedule.location_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/schedules/<%= schedule.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/schedules/<%= schedule.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_schedule/<%= schedule.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_schedule" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <input type="hidden" name="location_id" value="<%= @location.id %>">

      <button class="btn btn-block btn-success">
        Create Schedule
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
